.command-list {
  background-color: $color-primary-gray;
  .title {
    color: $color-title-text;
  }
}

.comand {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.comand__container {
  background-color: $color-primary-white;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px)/2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 4 * 30px)/4);
    margin: 15px;
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.comand__images {
  display: block;

  max-width: 100%;
  height: auto;
}

.comand-padding {
  padding-top: 30px;
  padding-bottom: 24px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}

.comand-padding__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.comand-padding__text {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.masege {
  max-height: 44px;
  display: flex;
  justify-content: center;
}

.masege__icon {
  display: flex;
  margin-bottom: 24px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  fill: $color-secondary-fons;
  border-radius: 50%;
  background-color: $color-primary-white;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  @media screen and (min-width: 1200px) {
    margin-bottom: 30px;
  }
  
  &:hover,
  &:focus {
    fill: $color-primary-white;
    background-color: $color-accent;
  }
}