.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $color-secondary-fon;
}

.footer__list {
  margin-top: 20px;
}

.container {
  .footer__address {
  &:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }
  }
}

.footer__content {
  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
    text-align: center;
  }
  
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer__address {
  color: $color-primary-white;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer__contacts {
  color: $color-secondary-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
}

.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  
}

.footer__text {
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 12px;

  color: $color-primary-white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer__masege {
  display: flex;
  
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
    justify-content: center;
  }
}

.footer__icon {
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: center;

  fill: $color-primary-white;
  background-color: rgba(255, 255, 255, 0.1);
  background-position: center;
  background-size: cover;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.footer__icon--not-margin {
  margin: 0;
}