.pade-header {
  position: relative;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid $color-header-border;
}

.pade-header__container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

.pade-header__button {
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;

  .pade-header__cross {
    display: none;
  }

  @media screen and (min-width:768px) {
    display: none;
  }
}

.pade-header__button.is-open .pade-header__cross {
  .pade-header__cross {
    display: block;
  }
}

.pade-header__button.is-open .pade-header__menu {
  .pade-header__menu {
    display: none;
  }
}

.pade-header__menu-container {
  background-color: $color-primary-white;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 796px;
    padding-left: 40px;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-grow: 1;
  }
}

.site-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.site-nav--list {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.site-nav__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

.site-nav__link {
  display: block;

  color: $color-title-text;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $color-accent;
  }
  
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.site-nav__link--current {
  @media screen and (min-width: 768px) {
    position: relative;
    color: $color-accent;
    
    &::after {
      content: "";
      position: absolute;
      transform: translate(0, 32px);
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $color-accent;
    }
  }
}

.auth-nav {
  @media screen and (min-width: 768px) {
    margin-left: 64px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 285px;
  }
}

.auth-nav--list {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.auth-nav__item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.auth-nav__contact {
  display: flex;
  align-items: center;
  color: $color-primary-text;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  fill: $color-primary-text;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
    &:hover,
    &:focus {
      color: $color-accent;
      fill: $color-accent;
    }
  }
}

.auth-nav__contact--mail {
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 1.16;
  }
}

.auth-nav__contact--tel {
  @media screen and (max-width: 767px) {
    font-size: 34px;
    line-height: 1.18;
  }
}

.auth-nav__contact-icon {
  margin-right: 10px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}