.overlay {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right,
      $color-secondary-fonheader,
      $color-secondary-fonheader),
    url("../images/Img.header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $color-secondary-fon;
  
  @media screen and (min-width: 1200px) {
    height: 600px;
  }
}

.services {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.services__title {
  margin-top: 0;
  margin-bottom: 30px;

  color: $color-primary-white;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.services__btn {
  margin-bottom: 0;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: $color-primary-white;
  background-color: $color-accent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $color-secondary-blue;
  }
}