.navigation {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.navigation__list:not(:last-child) {
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.navigation__button {
  margin-bottom: 15px;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;

  background-color: $color-primary-gray;
  color: $color-title-text;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  @media screen and (min-width: 768px) {
    text-align: center;
  }

  &:hover,
  &:focus {
    background-color: $color-accent;
    color: $color-primary-white;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}