$color-primary-text: #757575;
$color-title-text: #212121;
$color-accent: #2196F3;
$color-primary-white: #FFFFFF;
$color-primary-gray: #F5F4FA;
$color-secondary-fon: #2F303A;
$color-header-border: #ECECEC;
$color-secondary-fonheader: rgba(47, 48, 58, 0.4);
$color-secondary-text: rgba(255, 255, 255, 0.6);
$color-secondary-blue: #188CE8;
$color-secondary-fons: #AFB1B8;
$color-secondary-backdrop: rgba(0, 0, 0, 0.2);
$color-background-img: rgba(47, 48, 58, 0.8);
$color-background-button: rgba(33, 150, 243, 0.9);
$color-modal-close: #000000;
$color-textarea: rgba(117, 117, 117, 0.5);
$color-border:rgba(33, 33, 33, 0.2);
$color-subscription-border: rgba(255, 255, 255, 0.3);
$font-body: 'Roboto', sans-serif;
$font-logo: 'Raleway', sans-serif;